@charset "utf-8";
@import "normalize";
@import "compass";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

p,
ul,
ol,
form,
fieldset,
input {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style:none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#nav-button {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 90px;
  height: 80px;
  transition: all 0.5s ease-in-out;

    &:hover {
    opacity: .5;
  }
}


.line {
  display: inline-block;
  position: absolute;
  left: 32px;
  width: 28px;
  height: 4px;
  background: #c9c9c9;
  transition: all 0.5s ease-in-out;
  opacity: 1;

  &.one {
    top: 30px;
  }

  &.two {
    top: 38px;
  }

  &.three {
    top: 46px;
  }
}

#main-nav {
  background-color: #5e7783;
  position: fixed;
  height: 100%;
  width: 30%;
  padding-top: 60px;
  top: 0;
  right: 0;
  overflow: hidden;
  transform: translate(100%,0);
  transition: all .3s ease;
  z-index: 999;

  a {
    border-bottom: 1px solid #B3B3B3;
    color: #fff;
    display: block;
    font-size: 30px;
    letter-spacing: 1.5px;
    line-height: 1.2em;
    text-decoration: none;
    padding: 20px;
  }

  ul {
    position: relative;
    border-bottom: none;
  }

  li {
    text-align: center;
    transition: all .5s ease;
  }

  > ul li {
    font-family: "Roboto condensed";

    &:hover {
      background-color: #B6B9BA;
    }
  }

}

.main-nav-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contact {
  position: relative;

  li {
    color: #fff;
    border-bottom: none;
    padding-bottom: 5px;
  }
}

.social {
  display: flex;
  position: relative;
  justify-content: center;

  .social-icon {
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  a {
    border-bottom: none;
  }
}

.site-wrapper {
  transition: .3s ease;
  height: auto;
}

#main-header {
  display: block;
  position: absolute;
  height: 145px;
  top: 0;
  width: 100%;
}

.logo {
  display: block;
  position: absolute;
  width: 100%;
  top: 20px;
  z-index: 10;

  img {
    position: relative;
    height: 100px;
    left: 25px;
  }
}

.header {
  background-size: cover;
  height: 850px;
  position: relative;

  &:before {
    background-image: radial-gradient(circle,#182e4a,#276073,#46b8cd);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
  }

  h1 {
    color: #fff;
    font-family: "yesteryear", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 6em;
    font-weight: 400;
    position: relative;
    top: 44%;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    text-transform: capitalized;
    transform: translateY(-50%);
  }

  h2 {
    color: #fff;
    font-family: "Roboto condensed";
    position: relative;
    text-align: center;
    top: 34%;
  }
}

.bio .right-side {
  padding: 40px;

  h2 {
    padding-bottom: 10px;
  }
}

.left-side,
.right-side {
  display: block;
  float: left;
  width: 50%;
}

.left-side, {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 535px;
}

.right-side {
  background: white;
  max-width: 750px;
  line-height: 1.5;
  font-size: 22px;
  font-family: "Roboto condensed";
}

.skills {
  background: linear-gradient(180deg,#182e4a,#276073);
  position: relative;
  height: auto;

  h2 {
    color: #56FF3A;
    font-family: "Roboto condensed";
    font-size: 48px;
    padding: 30px;
    text-align: center;
  }

  hr {
    border: 0;
    border-top: 1px solid #56FF3A;
    margin: 20px 20px;
  }

  ul {
    height: 400px;
    width: auto;
    text-align: center;
  }

  li {
    border: 2px solid #56ff3a;
    border-radius: 3px;
    display: inline-block;
    width:auto;
    margin: 50px;
  }

  h6 {
    color: #56FF3A;
    font-size: 20px;
    font-family: "Roboto condensed";
    position: relative;
    bottom: 20px;
  }
}

.six.column {
  float: left;
  margin-bottom: 50px;
  padding: 10px;
  width: 50%;
  text-align: center;
  p {
    color: #56FF3A;
    font-size: 20px;
    font-family: "Roboto condensed";
    font-size: 24px;
    padding: 5px;
  }
}

.logos {
  position: relative;
  height: auto;
  background: #fff;

  ul {
    text-align: center;
    padding: 20px;
  }

  li {
    text-align: center;
    width: 50%;
    float: left;
  }

  img {
    height: 150px;
    width: auto;
  }
}

.hero {
  background-size: cover;
  height: 594px;
  position: relative;

  &:before {
  background: linear-gradient(to top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }

  img {
    width: 100%;
  }

  h1 {
    color: #fff;
    font-family: "yesteryear", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 6em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    text-transform: capitalized;
    text-shadow: -2px 2px #000;
    transform: translateY(-50%);
    width: 100%;
  }
}

.design-hero {
  background-size: cover;
  height: 724px;
  position: relative;

  &:before {
  background: linear-gradient(to top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }

  h1 {
    color: #fff;
    font-family: "yesteryear", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 6em;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
    text-align: center;
    text-shadow: -2px 2px #000;
    text-transform: capitalized;
  }
}

.page-wrapper {
  background: #000000;
}

.image-gallery {
  position: relative;
  margin: auto;
  max-width: 950px;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;

  p {
    color: #fff;
    line-height: 1.4;
    font-size: 28px;
    font-style: "Roboto condensed";
    margin-bottom: 150px;
    text-align: center;
  }
}

.image-container {
  float: left;
  overflow: hidden;
  width: 50%;

  img {
    display: block;
    transition: .35s;
    transform: scale(1);
    width: 100%;
    max-width: 100%;
  }

  &:hover img {
    transform: scale(1.05);
  }

  h2 {
   color: #fff;
   font-size: 40px;
   position: absolute;
   top: 20%;
   left: 50%;
   text-align: center;
   text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
   transform: translate(-50%, -50%);
  }
}

.footer {
  background: #000000;

  h3 {
    color: #fff;
    font-family: "Roboto condensed";
    font-size: 14px;
    line-height: 1;
    padding: 50px;
    text-align: center;
  }
}

.ux {
  background-color: #fff;
  padding: 50px;
}

.ux-text,
.logo-text,
.dev-text {

  p {
    color: #000;
    font-family: "roboto condensed";
    font-size: 22px;
    margin-right: 20px;
  }
}

.ux .ux-text {

  h2 {
    color: #6C5CFA;
    font-family: "Roboto condensed";
    font-size: 48px;
    padding-bottom: 25px;
  }
}

.ux-image,
.ux-text {
  display: block;
  float: left;
  width: 50%;
}

.ux-image {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 470px;
}

.logos {
  background: #fafafb;
  padding: 50px;
}

.logo {
    display: none;

    &-image,
    &-text {
      float: left;
      width: 50%;
    }
}

.logo-image {

  ul {
    padding: 40px;
  }

  li {
    padding: 20px;
  }
}

.logo-text {

  h2 {
    color: #FF599C;
    font-family: "Roboto condensed";
    font-size: 48px;
    padding-bottom: 25px;
  }
}

.dev {
  background-color: #fafafb;
  padding: 50px;
}


.dev .dev-text {

  h2 {
    color: #2AE89C;
    font-family: "Roboto condensed";
    font-size: 48px;
    padding-bottom: 25px;
  }
  a {
    color: #65B0C9;
    text-decoration: none;

    &:hover {
      opacity: .8;
    }
  }
}

.dev-image,
.dev-text {
  display: block;
  float: left;
  width: 50%;
}

.dev-image {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 470px;
}

@media screen and (max-width: 766px) {
  #main-nav {
    width: 100%;
  }
  .header {
    height: 400px;

    h1 {
      font-size: 4em;
      top: 45%;
    }

    h2 {
      font-size: 1em;
      top: 35%;
    }
  }

  .bio {
    padding-top: 20px;
    padding-left: 15px;
  }

  .left-side {
    background-size: cover;
    border-radius: 50%;
    height: 160px;
    margin-left: 50px;
    width: 160px;
  }

  .right-side {
    width: 100%;
  }

  .skills {

    ul {
      height: auto;
    }
  }

  .hero {
    background-position: center;
    height: 400px;

    h1 {
      font-size: 4em;
      top: 50%;
    }
  }

  .image-gallery {
    padding-top: 0;
    p {
      font-size: 18px;
      margin-bottom: 60px;
      padding: 20px;
    }
  }
  .design-hero {
    background-position: center;
    height: 400px;
    h1 {
      font-size: 3em;
    }
  }

  .ux-text {
    padding-bottom: 50px;
    width: 100%;
  }

  .ux-image {
    height: 275px;
    width: 100%;
  }

  .logo-image {
    width: 100%;

    ul {
      padding: 0;
    }

    li {
      padding: 20px;
      width: 50%;
    }
    img {
      height: 80px;
      max-width: 100%;
    }
  }

  .dev-text {
    padding-bottom: 50px;
    width: 100%;
  }

  .dev-image {
    height: 275px;
    width: 100%;
  }

  .logo-text {
    width: 100%;
  }

}
