---
title: Julian Fields Portfolio
---

	
<div class="header" style="background-image: url('images/hero-1.jpg');">
	<h1>Julian Fields</h1>
	<h2>Designer - Photographer - Surfer</h2>
</div>
<section class="bio clearfix">
	<div class="left-side" style="background-image: url('images/julian-2.jpg');">
	</div>
	<div class="right-side">
		<h2>Hello, How are you?</h2>
		<p>
    My name is Julian, I'm a passionate business professional, with a wide range of skills and experience.
    After college, I spent two years cutting my chops in the film and television business. In 2009,
    an opportunity to take on a leadership role at Sattwa Chai presented itself.
    While growing the company, I began writing code and taking on various design projects to
    fulfill a desire to create. A successful sale of Sattwa Chai occurred in 2016, and my path has shifted
    to full time web design. The diverse spectrum from film to business and design has given me the tools
    to solve a broad range of design challenges, with empathy for the business owner and passion for creating clean and concise websites and applications.
		</p>
	</div>
</section>
<section class="skills clearfix">
	<h2>Skills</h2>
  <ul>
    <li>
      <img src="images/camera-2.png" class="camera">
      <h6>Photography</h6>
    </li>
    <li>
      <img src="images/ux.png" class="user-experience">
      <h6>UX & Design</h6>
    </li>
    <li>
      <img src="images/computer.png" class="html & css;">
      <h6>Development</h6>
    </li>
  </ul>
  <hr>
  <div class="tools" style: "text-align: center">
    <div class="row">
      <div class="twelve column">
        <h2> Tools </h2>
      </div>
      <div class="six column">
        <p> Adobe Suite </p>
        <p> Balsamiq </p>
        <p> Bootstrap </p>
        <p> Contract Negotiation </p>
        <p> Craft CMS </p>
        <p> CSS/SASS/LESS </p>
        <p> Git/Github </p>
        <p> Gulp/Grunt </p>
        <p> HTML5/HAML </p>
      </div>
      <div class="six column">
        <p> JavaScript </p>
        <p> Middleman </p>
        <p> Project Management </p>
        <p> Sketch </p>
        <p> Slack </p>
        <p> Trello </p>
        <p> UX/UI </p>
        <p> Vim </p>
        <p> Wordpress </p>
      </div>
    </div>
  </div>
</section>


